<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form_1.Properties.Settings.Clinic_management_systemConnectionString"
            connectionString="Data Source=DESKTOP-1P4JQS7\SQLEXPRESS;Initial Catalog=Clinic_management_system;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>